.App-header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App {
  text-align: center;
}

.devlogo-app{
  height: 3vw;
  pointer-events: none;
}

.gitlogo-app {
  height: 3vw;
  pointer-events: none;
}

.linklogo-app{
  height: 3vw;
  pointer-events: none;
}

.instalogo-app{
  height: 3vw;
  pointer-events: none;
}

/*-----------------------------*/


